.header #title {
  text-align: center;
  color : blue;
  font-size: 4em;
}
.container{
  width: 52.48vh;
  height: 300px;
  margin: 0 auto;
}
.line1{
  float: left;
}
.line2{
  clear:both;
}
.container .line1 #box1{
  width: 16.4vh;
  height: 16.4vh;
  margin-right: 1.64vh;
  border-radius: 20%;
  background-color: green;
  float: left;
}
.container .line1 #box2{
  width: 16.4vh;
  height: 16.4vh;
  margin-right: 1.64vh;
  border-radius: 20%;
  background-color: greenyellow;
  float: left;
}
.container .line1 #box3{
  width: 16.4vh;
  height: 16.4vh;
  border-radius: 20%;
  background-color: red;
  float: left;
}

.container .line2 #box4{
  width: 16.4vh;
  height: 16.4vh;
  margin-top: 20px;
  margin-right: 1.64vh;
  border-radius: 20%;
  background-color: black;
  float: left;
}
.container .line2 #box5{
  width: 16.4vh;
  height: 16.4vh;
  margin-top: 20px;
  margin-right: 1.64vh;
  border-radius: 20%;
  background-color: yellow;
  float: left;
}
.container .line2 #box6{
  width: 16.4vh;
  height: 16.4vh;
  margin-top: 20px;
  border-radius: 20%;
  background-color: blue;
  float: left;
}

.credit{
  position: fixed;
  bottom: 0;
  right:10px;
  text-align: center;
}